@import url('http://fonts.cdnfonts.com/css/gotham');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
	margin: 0; padding: 0; border: 0; vertical-align: baseline; font-family: inherit;
}
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}

$md: "1024px";
$lg: "1200px";

@mixin transition($property: all, $duration: .15s, $timing: linear, $delay: 0s) {
	-webkit-transition-property: $property;
    transition-property: $property;
	-webkit-transition-duration: $duration;
    transition-duration: $duration;
	-webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
	-webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin gotham() {
    font-family: 'Gotham', sans-serif;
}

body {
	min-width: 360px;
	width: 100%;
	font-size: 13px;
    color: #fff;
    @include gotham();
	word-break: keep-all;
    font-weight: 400;
    box-sizing: border-box;
    background-color: #110F12;
    *, *::before, *::after {
        box-sizing: border-box;
    }
}

.container {
    display: block;
    width: 100%;
	padding: 0;
    padding: 0 24px;
    @media(min-width: $md) {
        padding: 0 120px;
    }
}
.container-fluid {
    display: block;
    width: 100%;
	padding: 0;
	margin: 0 auto;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
hr {
	display: block;
	border: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select, textarea {
    font-family: inherit;
    outline: none !important;
    &:focus-visible {
        outline: 2px solid #000;
    }
}
a, button {
    color: #000;
    cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    background: none;
    &:hover {
        color: #000;
    }
}